<div class="container">
  <div class="row text-center" style="padding: 50px 15% 50px 15%">
   <h2><strong>Frequently Asked Questions</strong></h2>
   <p style="margin-top: 10pt;"> Many of our customers have specific questions about our professional maid services. Here are just a few of the frequently asked questions we hear at Cleaning Company.</p>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Would it be okay for me to provide my own supplies and equipment for the cleaning service?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Certainly! You are more than welcome to provide your own cleaning supplies and equipment. Add preferred
          cleaning products and equipment when booking for worry-free cleaning services by professional cleaners. We
          want to make sure that your cleaning experience with us is as convenient and enjoyable as possible.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Would it be okay for me to give just one key to my Fresharoo?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Absolutely! If you won’t be at home during the scheduled housekeeping services, you can either leave a key in
          a safe location or give a key to your Fresharoo. We understand that trust is an essential factor when it comes
          to granting access to your home, so you can have confidence in our team of professional and reliable
          Fresharoos at any time.
          However, we recommend that you only provide a key for regular cleaning services. For one-off or occasional
          cleanings, it’s best to be present during the cleaning service, as we want to ensure that you are completely
          satisfied with the service provided.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Could you kindly let me know when I should make payments for casual cleaning services?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          To ensure that we can reserve a Fresharoo for your scheduled cleaning service, we kindly ask that payment be
          made prior to the day of service. This will help us to efficiently manage our resources and provide you with
          the best possible service. Thank you for your cooperation!
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Could you kindly let me know when I should make payments for regular cleaning services?
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Ideally, it is recommended to make payment prior to the scheduled day of your regular cleaning service.
          However, if that’s not possible, you can always make the payment on the day of the service. It’s always a good
          idea to confirm the payment arrangement with the Fresharoo beforehand to ensure a smooth and hassle-free
          transaction.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Is it necessary for me to be at home during the regular or casual cleaning service?
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            No, it’s completely up to you whether or not you are present during the regular or casual cleaning service.
            If you are unable to meet your Fresharoo in person, you can simply leave a note indicating the location of
            the cleaning equipment and products.
          </p>
          <p>
            Prior to the day of the cleaning, please feel free to provide us with any necessary instructions for
            accessing your property. You can let us know which way is the most convenient for us to get to your home. We
            want to make the cleaning process as seamless and hassle-free as possible for you.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
          aria-expanded="false" aria-controls="collapseSix">
          Is it necessary for me to be at home during the regular or casual cleaning service?
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            Yes, you can certainly request housekeeping services on Saturdays. However, availability will depend on the
            schedule of our professional Fresharoos. Please note that additional fees may apply for weekend bookings.
          </p>
          <p>
            Unfortunately, we are unable to offer cleaning services on Sundays, as this is the day when our Fresharoos
            take a well-deserved break to rest and prepare for the upcoming week. Thank you for your understanding!
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Is it necessary for me to be at home during the regular or casual cleaning service?
        </button>
      </h2>
      <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            The amount of cleaning work that can be done on the scheduled day will depend on several factors, such as
            the duration of the service and the level of attention to detail required. The scale and condition of the
            property will also influence the amount of work that can be done.
          </p>
          <p>
            It’s important to note that the service time will vary based on the specific task list for your property.
            Our team of professional cleaners will take into account the size and condition of your property and adjust
            the cleaning plan accordingly.
          </p>
          <p>
            The cleaners will provide feedback if any changes are required during the cleaning to ensure that they meet
            your expectations. We strive to provide you with the best possible service and ensure that your property is
            sparkling clean by the end of the session.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Is it possible for me to book housekeeping services on weekends?
        </button>
      </h2>
      <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            Yes, you can certainly request housekeeping services on Saturdays. However, availability will depend on the
            schedule of our professional Fresharoos. Please note that additional fees may apply for weekend bookings.
          </p>
          <p>
            Unfortunately, we are unable to offer cleaning services on Sundays, as this is the day when our Fresharoos
            take a well-deserved break to rest and prepare for the upcoming week. Thank you for your understanding!
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingNine">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          What kind of cleaning work can I expect to be done on the scheduled cleaning day?
        </button>
      </h2>
      <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            The amount of cleaning work that can be done on the scheduled day will depend on several factors, such as
            the duration of the service and the level of attention to detail required. The scale and condition of the
            property will also influence the amount of work that can be done.
          </p>
          <p>
            It’s important to note that the service time will vary based on the specific task list for your property.
            Our team of professional cleaners will take into account the size and condition of your property and adjust
            the cleaning plan accordingly.
          </p>
          <p>
            The cleaners will provide feedback if any changes are required during the cleaning to ensure that they meet
            your expectations. We strive to provide you with the best possible service and ensure that your property is
            sparkling clean by the end of the session.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen"
          aria-expanded="false" aria-controls="collapseTen">
          What should I do if I need to reschedule the cleaning service?
        </button>
      </h2>
      <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            If you need to reschedule your cleaning service, please reach out to us as soon as possible so that we can
            accommodate your request. It’s important to keep in mind that our Fresharoos schedule their cleaning
            appointments a day in advance.
          </p>
          <p>
            Providing us with enough notice would be greatly appreciated and would allow us to adjust our schedule
            accordingly. We understand that sometimes unexpected events can arise, and we’ll do our best to find an
            alternative time that works for you. Thank you for your cooperation!
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEleven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          If I have a pet, what should I expect during the housekeeping service?
        </button>
      </h2>
      <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            Not to worry! Our Fresharoos are comfortable working around pets. We understand that pets are a part of your
            family and we’ll do our best to ensure their safety and comfort during the cleaning process.
          </p>
          <p>
            Please let us know if your pet will be indoors or outdoors during the cleaning service. You can leave a note
            for us with any special instructions or requests, and we’ll make sure to take them into account during the
            cleaning. We want to ensure that both you and your furry friend are happy with the results!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>