<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#" style="width: 100px;"><img src="assets/Logo/Logo.png" style="width: 100%;"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li id="liService" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Our Services
          </a>
          <ul id="liServiceList" class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="/Weekly">Weekly & Fortnightly</a></li>
            <li><a class="dropdown-item" href="/Monthly">Once-off & Monthly</a></li>
            <li><a class="dropdown-item" href="/Spring">Spring Cleaning</a></li>
            <li><a class="dropdown-item" href="/Moveinout">Moving-in & Moving-out</a></li>
          </ul>
        </li>      
        <li class="nav-item">
          <a class="nav-link" href="/Faq">FAQ</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/Career">Career</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Gallery</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/booking">Booking</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/Contact">Contact</a>
        </li>
        <!-- <li [ngClass]="isLoggedIn ? 'hidden' : 'nav-item dropdown'"> -->
        <li *ngIf="isLoggedIn" class='nav-item dropdown'>
          <a class="nav-link dropdown-toggle" href="#" id="navbarAdminDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarAdminDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="/ServiceCategory">Service Category</a></li>
            <li><a class="dropdown-item" href="/ServicePrice">Service Price</a></li>
            <li><a class="dropdown-item" href="/FAQQuestions">Questions</a></li>
            <li><a class="dropdown-item" href="/ContactInfo">Contact List</a></li>
            <!-- <li><a class="dropdown-item" href="/ServiceWiseCategory">Service Category</a></li> -->
            <li><a class="dropdown-item" href="/ServiceCategoryPrice">Service Category Price</a></li>
            <li><a class="dropdown-item" href="/ServiceCategoryPriceDetails">Service Category Details</a></li>
            <li><a class="dropdown-item" href="/users">User</a></li>
            <li><a class="dropdown-item" href="/bookinginfo">Booking</a></li>
          </ul>
        </li>
        <li  *ngIf="isLoggedIn" class='nav-item'>
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <!-- <li  *ngIf="!isLoggedIn" class='nav-item'>
          <a class="nav-link" href="/login">Login</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>