<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">PHK </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Our Services
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="/Weekly">Weekly & Fortnightly</a></li>
            <li><a class="dropdown-item" href="/Monthly">Once-off & Monthly</a></li>
            <li><a class="dropdown-item" href="/Spring">Spring Cleaning</a></li>
            <li><a class="dropdown-item" href="/Moveinout">Moving-in & Moving-out</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Faq">FAQ</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/Career">Career</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Gallery</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/booking">Booking</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/Contact">Contact</a>
        </li>
        <li [ngClass]="isLoggedIn ? 'hidden' : 'nav-item dropdown'">
          <a class="nav-link dropdown-toggle" href="#" id="navbarAdminDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarAdminDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="/ServiceCategory">Service Category</a></li>
            <li><a class="dropdown-item" href="/ServicePrice">Service Price</a></li>
            <li><a class="dropdown-item" href="/FAQQuestions">Questions</a></li>
            <li><a class="dropdown-item" href="/ContactInfo">Contact List</a></li>
            <li><a class="dropdown-item" href="/ServiceWiseCategory">Service Category</a></li>
            <li><a class="dropdown-item" href="/ServiceCategoryPrice">Service Category Price</a></li>
          </ul>
        </li>
        <li [ngClass]="isLoggedIn ? 'hidden' : 'nav-item'">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li  [ngClass]="isLoggedIn ? 'nav-item' : 'hidden'">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Bootstrap 5.3.0 CSS -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"> -->


<!-- <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">PHK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Our Services
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="/Weekly">Weekly & Fortnightly</a></li>
            <li><a class="dropdown-item" href="/Monthly">Once-off & Monthly</a></li>
            <li><a class="dropdown-item" href="/Spring">Spring Cleaning</a></li>
            <li><a class="dropdown-item" href="/Moveinout">Moving-in & Moving-out</a></li>
          </ul>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="/Faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Career">Career</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ServiceCategory">Service Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ServicePrice">Service Price</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/FAQQuestions">Questions</a>
        </li>     
        <li class="nav-item">
          <a class="nav-link" href="/ContactInfo">Contact List</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="/ServiceWiseCategory">Service Category</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->

