<footer class="footert py-5">
  <div class="container">
    <div class="row footerH5">
      <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
        <h5>Mobile</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"> <i class="bi bi-phone"></i> +61 0420
              264 600</a></li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
        <h5>Address</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-building"></i> 1/7 Third
              Avenue, East</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Maylands, Perth, WA - 6051</a></li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
        <h5>Business Hours</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="bi bi-clock"></i> Monday -
              Friday : 24/7</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
       <img src="assets/Logo/QR.png" alt="" style="width: 60%;">
      </div>
    </div>
  </div>
</footer>
<footer class="footerb">
  <div class="container">
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>©
        <script>document.write(new Date().getFullYear());</script> Company, Inc. All rights reserved.
      </p>
    </div>
  </div>
</footer>