<app-entry-modal [header]="modalTitle" [visible]="showModal">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="formData.name" name="name"
          required>
        <input type="hidden" id="loginUserID" [(ngModel)]="formData.loginUserID" name="loginUserID" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="formData.email" name="email" required />
      </div>
      <div class="form-group">
        <label for="userName">User Name</label>
        <input type="text" class="form-control" id="userName" [(ngModel)]="formData.userName" name="userName" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="formData.password" name="password" required />
      </div>      
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="active" [(ngModel)]="formData.active" name="active">
        <label class="form-check-label" for="active">Active</label>
      </div>
      <div class="form-group pt-2 d-flex justify-content-between">
        <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">{{saveUpdate}}</button>
        <a class="btn btn-danger float-right" (click)="toggleModal()">Close</a>
    </div>
    </form>
  </app-entry-modal>
  
  <div class="container">
    <p-table [value]="dataSource" [tableStyle]="{ 'min-width': '50rem' }"  [paginator]="true" [rows]="10"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <button type="button" class="btn btn-primary" (click)="toggleModal()"><ion-icon size="large"
                    name="add-circle-outline"></ion-icon></button>
        </div>
    </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="hidden">LoginUserID</th>
          <th>Name</th>
          <th>Email</th>
          <th>User Name</th>
          <th>Active</th>
          <th class="th-center">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dataSource>
        <tr>
          <td class="hidden">{{ dataSource.loginUserID }}</td>
          <td>{{ dataSource.name }}</td>
          <td>{{ dataSource.email }}</td>
          <td>{{ dataSource.userName }}</td>
          <td>{{ dataSource.active }}</td>
          <td class="td-center">
            <button type="button" title="Edit" class="btn btn-success" (click)="GetEditData(dataSource)"><ion-icon
                    name="pencil-outline"></ion-icon></button>
            <button type="button" title="Delete" class="btn btn-danger ml-2" (click)="DeleteRowData(dataSource)"><ion-icon
                    name="trash-outline"></ion-icon></button>
        </td>
        </tr>
      </ng-template>
    </p-table>
  </div>