<div class="container">
    <div class="text-center">
        <h3><strong>Monthly Home Cleaning Services</strong> </h3>

        <p class="mt-5">
            If you’re in search of a dependable and effective home cleaning service, you’ve come to the right place! Our
            team of expert cleaners is committed to making sure every nook and cranny of your home is impeccably clean
            and
            shining.
        </p>
    </div>
    <div class="row pb-5">
        <div class="col-12 text-center pt-3 pb-3">
            <h3><strong> What is included in our home cleaning services?</strong> </h3>
        </div>
        <div class="col-5">
            <div class="col-12 pb-2">
                <h5><strong>Monthly services?</strong> </h5>
            </div>
            <ul>
                <li>General tidy up</li>
                <li>Bathroom cleaning</li>
                <li>Toilet Cleaning</li>
                <li>Toilet cleaning</li>
                <li>Kitchen cleaning</li>
                <li>Wipe surfaces</li>
                <li>Dusting</li>
                <li>Vacuuming</li>
                <li>Mopping</li>
            </ul>
        </div>
        <div class="col-4">
            <div class="col-12 pb-2">
                <h5><strong>Additional services?</strong> </h5>
            </div>
            <ul>
                <li>
                    Changing Sheets <br><span class="text-muted"> Adds extra time to your service</span>
                </li>
                <li>
                    Ironing & Folding<br><span class="text-muted"> (Adds extra time to your service)</span>
                </li>
                <li>
                    Oven Cleaning<br><span class="text-muted"> (Additional Fee)</span>
                </li>
                <li>
                    Window Cleaning<br><span class="text-muted"> (Additional Fee)</span>
                </li>
            </ul>
        </div>
        <div class="col-3 PricingArea">
            <div class="text-center">
                <h2><strong> Pricing</strong></h2>
                <hr>
            </div>
            <div class="text-center">
                <span class="priceRegular">$105</span> <br>
                <p><strong>for 2 Hours</strong></p>
                <hr>
            </div>
            <div class="text-center">
                <span class="priceExtra">$50</span> <br>
                <p><strong>Per Hour Thereafter</strong></p>
            </div>
        </div>
        <div class="col-12 text-center">
            <button class="btn btn-primary btnBook">Book a Regular Clean</button>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #ddd;">
    <div class="container">
        <div class="row" style="padding: 50px;">
            <div class="col-4">
                <div class="otherServices">
                    <div class="col-12 text-center pt-4">
                        <h4>Weekly & Fortnightly</h4>
                    </div>
                    <div class="col-12 pt-4 text-center">
                        <span
                            class="cost-calculator-summary-price cost-calculator-small-currency cost-calculator-align-top cost-calculator-after-align-bottom"
                            id="basic-service-cost"><span class="cost-calculator-currency">$</span>265.00</span>
                    </div>
                    <div class="col-12 pt-4 text-center">
                        <ul class="simple-list margin-top-20">
                            <li class=""><span>1 Bathroom cleaning</span></li>
                            <li class=""><span>Up to 3 bedrooms cleaning</span></li>
                            <li class=""><span>1 Livingroom cleaning</span></li>
                            <li class=""><span>Small kitchen (0 – 150 ft2)</span></li>
                            <li class=""><span>Up to 2 additional rooms cleaning</span></li>
                        </ul>
                    </div>
                    <div class="col-12 pt-4 text-center pt-4 pb-4">
                        <button class="btn btn-primary">Customize</button>
                    </div>
                </div>
            </div>
            <div class="col-4 otherServices">
                <div class="otherServices">
                    <div class="col-12 text-center pt-4">
                        <h4>Spring Cleaning</h4>
                    </div>
                    <div class="col-12 pt-4 text-center">
                        <span
                            class="cost-calculator-summary-price cost-calculator-small-currency cost-calculator-align-top cost-calculator-after-align-bottom"
                            id="basic-service-cost"><span class="cost-calculator-currency">$</span>265.00</span>
                    </div>
                    <div class="col-12 pt-4 text-center">
                        <ul class="simple-list margin-top-20">
                            <li class=""><span>1 Bathroom cleaning</span></li>
                            <li class=""><span>Up to 3 bedrooms cleaning</span></li>
                            <li class=""><span>1 Livingroom cleaning</span></li>
                            <li class=""><span>Small kitchen (0 – 150 ft2)</span></li>
                            <li class=""><span>Up to 2 additional rooms cleaning</span></li>
                        </ul>
                    </div>
                    <div class="col-12 pt-4 text-center pt-4 pb-4">
                        <button class="btn btn-primary">Customize</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="otherServices">
                    <div class="col-12 text-center pt-4">
                        <h4>Moving-in & Moving-out</h4>
                    </div>
                    <div class="col-12 pt-4 text-center">
                        <span
                            class="cost-calculator-summary-price cost-calculator-small-currency cost-calculator-align-top cost-calculator-after-align-bottom"
                            id="basic-service-cost"><span class="cost-calculator-currency">$</span>265.00</span>
                    </div>
                    <div class="col-12 pt-4 text-center">
                        <ul class="simple-list margin-top-20">
                            <li class=""><span>1 Bathroom cleaning</span></li>
                            <li class=""><span>Up to 3 bedrooms cleaning</span></li>
                            <li class=""><span>1 Livingroom cleaning</span></li>
                            <li class=""><span>Small kitchen (0 – 150 ft2)</span></li>
                            <li class=""><span>Up to 2 additional rooms cleaning</span></li>
                        </ul>
                    </div>
                    <div class="col-12 pt-4 text-center pt-4 pb-4">
                        <button class="btn btn-primary">Customize</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>