<app-entry-modal [header]="modalTitle" [visible]="showModal">
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="form-group">
      <label for="serviceName">Service Name</label>
      <input type="text" class="form-control" id="serviceName" [(ngModel)]="formData.serviceName" name="serviceName"
        required>
      <input type="hidden" id="servicesID" [(ngModel)]="formData.servicesID" name="servicesID" />
    </div>
    <div class="form-group">
      <label for="serviceInfo">Service Info</label>
      <input type="text" class="form-control" id="serviceInfo" [(ngModel)]="formData.serviceInfo" name="serviceInfo"
        rows="4" required />
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="active" [(ngModel)]="formData.active" name="active">
      <label class="form-check-label" for="active">Active</label>
    </div>
    <div class="form-group pt-2 d-flex justify-content-between">
      <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">{{saveUpdate}}</button>
      <a class="btn btn-danger float-right" (click)="toggleModal()">Close</a>
  </div>
  </form>
</app-entry-modal>

<div class="container">
  <p-table [value]="dataSource" [tableStyle]="{ 'min-width': '50rem' }"  [paginator]="true" [rows]="10"
  [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
          <button type="button" class="btn btn-primary" (click)="toggleModal()"><ion-icon size="large"
                  name="add-circle-outline"></ion-icon></button>
      </div>
  </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="hidden">Services ID</th>
        <th>Service Name</th>
        <th>Service Info</th>
        <th>Active</th>
        <th class="th-center">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dataSource>
      <tr>
        <td class="hidden">{{ dataSource.servicesID }}</td>
        <td>{{ dataSource.serviceName }}</td>
        <td>{{ dataSource.serviceInfo }}</td>
        <td>{{ dataSource.active }}</td>
        <td class="td-center">
          <button title="Edit" type="button" class="btn btn-success" (click)="GetEditData(dataSource)"><ion-icon
                  name="pencil-outline"></ion-icon></button>
          <button title="Delete" type="button" class="btn btn-danger ml-2" (click)="DeleteRowData(dataSource)"><ion-icon
                  name="trash-outline"></ion-icon></button>
      </td>
      </tr>
    </ng-template>
  </p-table>
</div>