.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-container {
    margin: 10px;
    cursor: pointer;
  }
  
  .image-container img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #ddd;
  }
  