<div class="container-fluid pt-5">
    <div class="row text-center">
        <div class="col-12 pb-5">
            <h1><strong> Gallery</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2">
            <img src="/assets/Home/Gallery_1.jpeg" style="width: 100%;">
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
            <img src="/assets/Home/Gallery_2.jpeg" style="width: 100%;">
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
            <img src="/assets/Home/Gallery_3.jpeg" style="width: 100%;">
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
            <img src="/assets/Home/Gallery_4.jpeg" style="width: 100%;">
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
            <img src="/assets/Home/Gallery_5.jpeg" style="width: 100%;">
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
            <img src="/assets/Home/Gallery_6.jpeg" style="width: 100%;">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2">
            <img src="/assets/Home/Gallery_7.jpeg" style="width: 100%;">
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
            <img src="/assets/Home/Gallery_8.jpeg" style="width: 100%;">
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
            <img src="/assets/Home/Gallery_9.jpeg" style="width: 100%;">
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
            <img src="/assets/Home/Gallery_10.jpeg" style="width: 100%;">
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
            <img src="/assets/Home/Gallery_11.jpeg" style="width: 100%;">
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
            <img src="/assets/Home/Gallery_12.jpeg" style="width: 100%;">
        </div>
    </div>
</div>