<div class="container">
    <div class="successContainer">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="10" />
                <path d="M16 12 L11 15 L8 10" />
            </svg>
        </div>
        <div class="message">
            Booking Successful done.<br>
            Your BookingID is {{bookingID}}
        </div>
        <p>{{paymentStatus}}</p>
        <p>Thank you for choosing our services!</p>
        <a href="/" style="color: #007bff; text-decoration: none;">Back to Home</a>
    </div>
</div>