<div class="container">
    <div class="text-center">

    </div>
    <div class="text-center careerHeaderArea">
        <h2>
            <strong>Looking for cleaning work? Work for us and become a Perth House Keeping Cleaning jobs in
                Australia</strong>
        </h2>
    </div>
    <div class="text-justify mb-5">
        <p>
            Perth House Keeping Cleaning Services is an exceptional online platform that is revolutionizing the cleaning
            industry. Our unique approach connects customers in need of housework assistance with cleaning
            professionals, also known as Perth House Keepings. We pride ourselves on providing a flexible work
            environment that allows our Perth House Keepings to create their own schedules that align with their
            personal and professional goals.
        </p>
        <p>
            Our Perth House Keepings are independent contractors who have the freedom to choose their preferred time
            slots. We understand that everyone has different schedules, which is why we offer a wide range of time slots
            from Monday to Friday, from 8:00 am to 5:00 pm. We also value our Perth House Keepings’ weekends and want to
            know if they are available to work then too. This approach provides a sense of autonomy, allowing our Perth
            House Keepings to balance work and life seamlessly.
        </p>
        <p>
            Furthermore, the flexible work environment we offer empowers our Perth House Keepings to decide which offers
            to accept and which ones to reject without any compromise. This freedom ensures that our Perth House
            Keepings can take control of their careers, and the work-life balance that they desire.
        </p>
        <p>
            In summary, Fresh Aroma Cleaning Services is a platform that prioritizes the needs of both our Perth House
            Keepings and customers. We understand that life is busy, and everyone needs help with housework at some
            point. That’s why we are here to provide flexible, reliable, and professional cleaning services while
            supporting our Perth House Keepings’ goals and aspirations. Your jobs, your times, your success- that’s our
            motto! Join us today and be part of our growing team of Perth House Keepings!
        </p>
    </div>
    <div class="careerControls">
        <div>
            <h2><strong>Cleaner - Job Application</strong></h2>
            <h6> Please fill the below form, let's start with your personal details...</h6>
        </div>
        <hr>
        <div class="mb-3">
            <label for="ddlCity" class="form-label">City</label>
            <select class="form-control" id="ddlCity">
                <option value="Perth">Perth</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="txtFirstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="txtFirstName" placeholder="Enter Your First Name.." />
        </div>
        <div class="mb-3">
            <label for="txtSurName" class="form-label">Surname</label>
            <input type="text" class="form-control" id="txtSurName" placeholder="Enter Your Surname.." />
        </div>
        <div class="mb-3">
            <label for="txtEmailaddress" class="form-label">Email address</label>
            <input type="email" class="form-control" id="txtEmailaddress" placeholder="name@example.com" />
        </div>
        <div class="mb-3">
            <label for="txtMobileNumber" class="form-label">Mobile Number</label>
            <input type="text" class="form-control" id="txtMobileNumber" placeholder="Enter Your Mobile Number.." />
        </div>
        <div class="mb-3">
            <label for="txtAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="txtAddress" placeholder="Enter Your Address Address">
        </div>
        <div class="mb-3">
            <label for="txtSuburb" class="form-label">Suburb</label>
            <input type="email" class="form-control" id="txtSuburb" placeholder="Enter Your Suburb">
        </div>
        <div class="mb-3">
            <label for="txtPostCode" class="form-label">Post Code</label>
            <input type="email" class="form-control" id="txtPostCode" placeholder="Enter Your Post Code">
        </div>
        <div class="mb-3">
            <label for="txtAvailability" class="form-label">Your Availability</label>
            <textarea class="form-control" id="txtAvailability" rows="5"
                placeholder="What days and times can you work? (i.e. Wednesday - Friday 8:00am to 3:00pm)"></textarea>
        </div>
        <div class="mb-3">
            <label for="txtTransport" class="form-label">Do you have a car for cleaning work purposes?</label>
            <textarea class="form-control" id="txtTransport" rows="5"
                placeholder="Do you have a car for cleaning work purposes?"></textarea>
        </div>
    </div>
</div>