.PricingArea{
    background-color: rgba(73,201,230,.95);
    border: 1px solid rgba(73,201,230,.95);
    border-radius: 10px;
    color: #fff;
    padding-top: 15pt;
}

.btnBook {
    padding: 15px !important;
    border-radius: 13px !important;
    font-weight: 600 !important;
    font-size: 1.5rem !important;
}

.PricingArea hr{
    border: 1px solid #fff !important;
    opacity: 1 !important;
}

.priceRegular{
font-weight: 600;
font-size: 40pt;
}

.priceExtra
{
    font-weight: 600;
    font-size: 30pt;
    }

.cost-calculator-summary-price {
    display: inline-block;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 55px;
    color: #56B665;
}

.otherServices{
    background-color: #fff;
}
.simple-list{
    list-style: none;
}
.simple-list li {
    padding: 11px 0;
    line-height: 20px;
}