<div class="container-fluid pt-5 pb-5">
    <div class="container">
        <div class="row text-center">
            <h1><strong>Spring House Cleaning Services</strong> </h1>
        </div>
        <div class="row text-center">
            <p class="mt-2">
                If you’re in search of a dependable and effective home cleaning service, you’ve come to the right place!
                Our team of expert cleaners is committed to making sure every nook and cranny of your home is impeccably
                clean and shining.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid pt-4" style="background-color: #ddd;">
    <app-service-price-parent [ServicesID]="ServicesID"></app-service-price-parent>
</div>
<div class="row pt-4">
    <div class="container">
        <app-service-list-parent></app-service-list-parent>
    </div>
</div>
<div class="container-fluid" style="background-color: #ddd;">
    <div class="container">
        <div class="row" style="padding: 50px;">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="otherServices">
                    <div class="col-12 text-center pt-4">
                        <h4>Weekly & Fortnightly</h4>
                    </div>
                    <div class="col-12 pt-4 text-center">
                        <span
                            class="cost-calculator-summary-price cost-calculator-small-currency cost-calculator-align-top cost-calculator-after-align-bottom"
                            id="basic-service-cost"><span class="cost-calculator-currency">$</span>265.00</span>
                    </div>
                    <div class="col-12 pt-4 text-center">
                        <ul class="simple-list margin-top-20">
                            <li class=""><span>1 Bathroom cleaning</span></li>
                            <li class=""><span>Up to 3 bedrooms cleaning</span></li>
                            <li class=""><span>1 Livingroom cleaning</span></li>
                            <li class=""><span>Small kitchen (0 – 150 ft2)</span></li>
                            <li class=""><span>Up to 2 additional rooms cleaning</span></li>
                        </ul>
                    </div>
                    <div class="col-12 pt-4 text-center pt-4 pb-4">
                        <button class="btn btn-primary">Customize</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 otherServices">
                <div class="otherServices">
                    <div class="col-12 text-center pt-4">
                        <h4>Once-off & Monthly</h4>
                    </div>
                    <div class="col-12 pt-4 text-center">
                        <span
                            class="cost-calculator-summary-price cost-calculator-small-currency cost-calculator-align-top cost-calculator-after-align-bottom"
                            id="basic-service-cost"><span class="cost-calculator-currency">$</span>265.00</span>
                    </div>
                    <div class="col-12 pt-4 text-center">
                        <ul class="simple-list margin-top-20">
                            <li class=""><span>1 Bathroom cleaning</span></li>
                            <li class=""><span>Up to 3 bedrooms cleaning</span></li>
                            <li class=""><span>1 Livingroom cleaning</span></li>
                            <li class=""><span>Small kitchen (0 – 150 ft2)</span></li>
                            <li class=""><span>Up to 2 additional rooms cleaning</span></li>
                        </ul>
                    </div>
                    <div class="col-12 pt-4 text-center pt-4 pb-4">
                        <button class="btn btn-primary">Customize</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="otherServices">
                    <div class="col-12 text-center pt-4">
                        <h4>Moving-in & Moving-out</h4>
                    </div>
                    <div class="col-12 pt-4 text-center">
                        <span
                            class="cost-calculator-summary-price cost-calculator-small-currency cost-calculator-align-top cost-calculator-after-align-bottom"
                            id="basic-service-cost"><span class="cost-calculator-currency">$</span>265.00</span>
                    </div>
                    <div class="col-12 pt-4 text-center">
                        <ul class="simple-list margin-top-20">
                            <li class=""><span>1 Bathroom cleaning</span></li>
                            <li class=""><span>Up to 3 bedrooms cleaning</span></li>
                            <li class=""><span>1 Livingroom cleaning</span></li>
                            <li class=""><span>Small kitchen (0 – 150 ft2)</span></li>
                            <li class=""><span>Up to 2 additional rooms cleaning</span></li>
                        </ul>
                    </div>
                    <div class="col-12 pt-4 text-center pt-4 pb-4">
                        <button class="btn btn-primary">Customize</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>